.register-container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/layerStars.png');
  background-size: cover;
}

.arrow {
  position: absolute;
  top: 30px;
  left: 60px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: opacity 0.2s;
}

.arrow svg {
  margin-right: 8px;
}

.arrow:hover {
  opacity: 0.8;
}

.register-container img {
  width: 8%;
  margin-bottom: 50px;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-container form input {
  width: 150%;
  height: 50px;
  border: 2px solid #409ef8;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  color: #409ef8;
  background-color: #464646;
}

::-webkit-input-placeholder {
  color: #409ef8;
}

.register-container form button {
  width: 150%;
  height: 55px;
  border: 0;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  background: #409ef8;
  transition: filter 0.2s;
}

.register-container form button:hover {
  filter: brightness(90%);
}
