.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/fundo.png');
  background-size: cover;
}

.arrow {
  position: absolute;
  top: 30px;
  left: 60px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: opacity 0.2s;
}

.arrow svg {
  margin-right: 8px;
}

.arrow:hover {
  opacity: 0.8;
}

.register-container img {
  width: 8%;
  margin-bottom: 50px;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-container form input {
  width: 350px;
  height: 60px;
  border: 2px solid #409ef8;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #409ef8;
  background-color: #464646;
  font-size: 20px;
  font-weight: 600;
}

::-webkit-input-placeholder {
  color: #409ef8;
}

.register-container form button {
  width: 350px;
  height: 60px;
  border: 0;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  background: #409ef8;
  transition: filter 0.2s;
  margin-right: 10px;
}

.register-container form button:hover {
  filter: brightness(90%);
}
.register_email {
  display: flex;
  margin-right: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.register_email .icon_register_email {
  position: relative;
  font-size: 35px;
  color: #409ef8;
  left: 75px;
  bottom: 10px;
}

.register_name {
  display: flex;
  margin-right: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.register_name .icon_register_name {
  position: relative;
  font-size: 35px;
  color: #409ef8;
  left: 75px;
  bottom: 10px;
}
.register_password {
  display: flex;
  margin-right: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.register_password .icon_register_password {
  position: relative;
  font-size: 35px;
  color: #409ef8;
  left: 75px;
  bottom: 10px;
}

.register-container form input:focus::placeholder {
  color: transparent;
}
