header {
  width: 100%;
  height: max-content;
  margin: 0;
  display: flexbox;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #245086, #0066ad);
}

section.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.logo a img {
  width: 120px;
  height: auto;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

section.logo a img:hover {
  width: 130px;
  margin-bottom: 0.25rem;
}

section.logo button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
  width: 85px;
  height: 35px;
  border: 0;
  border-radius: 25px;
  font-weight: 700;
  background-color: white;
  color: #245086;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: -8px 5px;
}

section.logo button:hover {
  background-color: whitesmoke;
  font-size: 14px;
}

.iconeLogin {
  color: #245086;
  margin-left: 3px;
}

section.menu nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3em;
}

section.menu a {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}

section.menu a:active {
  border-bottom: 2px solid white;
}

section.menu a:hover {
  margin-bottom: 0.8rem;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 900px) {
  section.logo button {
    width: 75px;
    height: 30px;
    font-size: 11px;
  }

  section.logo h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
}
