footer {
  width: 100%;
  height: max-content;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom right, #245086, #0066ad);
}

section.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

section.top nav {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding-top: 20px;

  position: absolute;
  left: 0;
}

section.top nav a {
  text-decoration: none;
  color: white;
}

section.top section.icones {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

section.top section.icones button {
  width: 60px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background-color: white;
  margin: 0 20px 0px 20px;
  cursor: pointer;
}

section.icones button img {
  width: 140px;
  height: 35px;
  align-items: center;
}

section.icones img {
  width: 140px;
  cursor: pointer;
}

section.bottom {
  display: flex;
  background-color: #032a5f;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

section.bottom img {
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

section.bottom h1 {
  color: white;
  font-weight: 500;

  font-size: 17px;
  margin-right: 10px;
  margin-left: 10px;
}
